= div_for message, class: "panel panel-default" do
  .panel-body
    %p.lead= message.content
    %p= "Created: #{time_ago_in_words message.created_at} ago"
  .panel-footer
    = link_to 'Edit', edit_message_path(message), class: "btn btn-warning"
    = link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
