.feed-item{id: "feed-#{feed.id}"}
  .panel
    %p.lead= link_to feed.name, feed
    .panel-body
      .panel.panel-default
        .panel-heading
          = "#{feed.name} / #{feed.url}"
        .panel-body
          = "#{time_ago_in_words(feed.last_fetched)} ago"
