= div_for story, class: "row" do
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .row
          .col-xs-12
            %p.panel-title= link_to story.lead, story_path(story), class: "toggle-panel-body"
      .panel-body.truncate{data: {href: story_path(story)}}
        = story.body.html_safe
      .panel-footer
        = link_to "Tweed It!", edit_story_path(story), class: "button primary"
        = link_to "Full Article", story_path(story), class: "button primary pull-right"