%ul.nav.nav-tabs.nav-justified.content-navigation{role: 'content_navigation'}
  = content_nav_link_to 'Queue', messages_path
  = content_nav_link_to 'Schedules', schedules_path
  = content_nav_link_to 'Stories', stories_path
  = content_nav_link_to 'Feeds', feeds_path
  = content_nav_link_to 'Settings', edit_user_registration_path
