!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "NOODP", name: "ROBOTS"}/
    %meta{content: "initial-scale=1", name: "viewport"}/
    %title= title
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
  %body{class: body_class}
    .container
      .row
        .col-xs-12
          %ol.breadcrumb
            %li Woofer
            %li
              %a{href: "/"} Dashboard
            %li
              %a{href: "/feeds"} Feeds
            %li
              %a{href: "/feeds/new"} New Feed
            = render 'flashes'
      .row
        .col-xs-3
          = render partial: "layouts/user_menu"
        .col-xs-9
          = yield
    = render 'javascript'
