!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "NOODP", name: "ROBOTS"}/
    %meta{content: "initial-scale=1", name: "viewport"}/
    %title Tweed
    = stylesheet_link_tag :application, :media => 'all'
    = yield :stylesheets
    = csrf_meta_tags
  %body{class: body_class}
    = render partial: "application/navigation"
    .container-fluid
      .row(style="height: 100%;")
        .col-xs-12.col-lg-3.column-left

        .col-xs-12.col-lg-7.column-right
          .row
            = render partial: "application/content_navigation"
          .row
            = render partial: "flashes"
          .row
            .col-xs-12(style="padding: 30px;")
              = yield
    = render 'javascript'
